<div class="jumbotron">
  <h1>Gestionnaire de stock !</h1>
  <p class="lead">
    <img src="images/ljp.png" alt="I'm Yeoman"><br><br>
    Ici on gère le petit matériel !
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">C'est partie ! <span class="glyphicon glyphicon-eye-open"></span></a></p>
</div>

<div class="row marketing">
  <h4>Site du lycée </h4>
  <p><a href="https://www.lyceejeanpiaget.ch/">https://www.lyceejeanpiaget.ch/</a></p>

  <h4>GLPI</h4>
  <p><a href="http://glpi.cpln.ch/">http://glpi.cpln.ch/</a></p>

  <h4>Sharepoint</h4>
  <p><a href="http://edus2.rpn.ch/">http://edus2.rpn.ch/</a></p>
</div>
